.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.ltrSpace {
  letter-spacing: 5px;
  text-transform: uppercase;
}